{% extends "layout.njk" %}
{% import "components/phone.njk" as phone %}
{% import "components/submitdump.njk" as submitdump %}


{% block content %}
<h1 class="text-2xl font-bold text-gray-900 mb-4">Default</h1>
<p class="text-gray-700 mb-6">
  This is a basic demonstration of the available features of the JS-SDK.
  Various forms and corresponding input fields showcase the available services and their
  functionality.
</p>

<div class="flex flex-col md:flex-row md:space-x-4">
  <div class="w-full md:w-1/2 p-4 mb-4 md:mb-0 text-sm">
    <form method="POST" action="">

     {{
        phone.defaultForm(
          'Mobile Phone', 
          '_phone1', 
          submittedData
        ) 
      }}

      <script>
        enderecoInitPhoneServices({
          phone: '#phone_phone1'
        }, {
          name: 'phone1'
        });
      </script>


      {{
        phone.defaultForm(
          'Fixedline Phone', 
          '_phone2', 
          submittedData
        ) 
      }}

      <script>
        enderecoInitPhoneServices({
          phone: '#phone_phone2'
        }, {
          name: 'phone2'
        });
      </script>

      {% include "components/simpleSubmitButton.njk" %}
    </form>
  </div>
  <div class="w-full md:w-1/2 p-4">
    {{
			submitdump.table(
				submittedData
			) 
		}}
  </div>
</div>


{% endblock %}