<!-- js-sdk/demo/views/use-cases/mappingCountryCode.njk -->
{% extends "layout.njk" %}
{% import "components/mappingCountryCode-address.njk" as address %}
{% import "components/phoneNumber.njk" as phoneNumber %}


{% block content %}
	<h1 class="text-2xl font-bold text-gray-900 mb-4">Input mapping</h1>
	<p class="text-gray-700 mb-6">
		In this use case we test the ability of JS-SDK to map custom system id of country code and subdivision to required codes.
	</p>
	<form method="POST" action="">

		{% set countries = [
			{ value: '', text: '-- Please select a country --' },
			{ value: 'de.de', text: 'Germany' },
			{ value: 'fr.fr', text: 'France' },
			{ value: 'us.en', text: 'USA' }
		] %}

		{% 	set regions = {
				'de.de': [
					{ value: '', text: '-- Please select a region --' },
					{ value: '1', text: 'Baden-Württemberg' },
					{ value: '2', text: 'Bayern' },
					{ value: '3', text: 'Berlin' },
					{ value: '4', text: 'Brandenburg' },
					{ value: '5', text: 'Bremen' },
					{ value: '6', text: 'Hamburg' },
					{ value: '7', text: 'Hessen' },
					{ value: '8', text: 'Mecklenburg-Vorpommern' },
					{ value: '9', text: 'Niedersachsen' },
					{ value: '10', text: 'Nordrhein-Westfalen' },
					{ value: '11', text: 'Rheinland-Pfalz' },
					{ value: '12', text: 'Saarland' },
					{ value: '13', text: 'Sachsen' },
					{ value: '14', text: 'Sachsen-Anhalt' },
					{ value: '15', text: 'Schleswig-Holstein' },
					{ value: '16', text: 'Thüringen' }
				],
				'fr.fr': [
					{ value: '', text: '-- Please select a region --' },
					{ value: '17', text: 'Auvergne-Rhône-Alpes' },
					{ value: '18', text: 'Ain' },
					{ value: '19', text: 'Allier' },
					{ value: '20', text: 'Ardèche' },
					{ value: '21', text: 'Cantal' },
					{ value: '22', text: 'Drôme' },
					{ value: '23', text: 'Isère' },
					{ value: '24', text: 'Loire' },
					{ value: '25', text: 'Haute-Loire' },
					{ value: '26', text: 'Puy-de-Dôme' },
					{ value: '27', text: 'Rhône' },
					{ value: '28', text: 'Savoie' },
					{ value: '29', text: 'Haute-Savoie' },
					{ value: '30', text: 'Métropole de Lyon' },
					{ value: '31', text: 'Bourgogne-Franche-Comté' },
					{ value: '32', text: 'Côte-d\'Or' },
					{ value: '33', text: 'Doubs' },
					{ value: '34', text: 'Jura' },
					{ value: '35', text: 'Nièvre' },
					{ value: '36', text: 'Haute-Saône' },
					{ value: '37', text: 'Saône-et-Loire' },
					{ value: '38', text: 'Yonne' },
					{ value: '39', text: 'Territoire de Belfort' },
					{ value: '40', text: 'Bretagne' },
					{ value: '41', text: 'Côtes-d\'Armor' },
					{ value: '42', text: 'Finistère' },
					{ value: '43', text: 'Ille-et-Vilaine' },
					{ value: '44', text: 'Morbihan' },
					{ value: '45', text: 'Centre-Val de Loire' },
					{ value: '46', text: 'Cher' },
					{ value: '47', text: 'Eure-et-Loir' },
					{ value: '48', text: 'Indre' },
					{ value: '49', text: 'Indre-et-Loire' },
					{ value: '50', text: 'Loir-et-Cher' },
					{ value: '51', text: 'Loiret' },
					{ value: '52', text: 'Grand-Est' },
					{ value: '53', text: 'Ardennes' },
					{ value: '54', text: 'Aube' },
					{ value: '55', text: 'Marne' },
					{ value: '56', text: 'Haute-Marne' },
					{ value: '57', text: 'Meurthe-et-Moselle' },
					{ value: '58', text: 'Meuse' },
					{ value: '59', text: 'Moselle' },
					{ value: '60', text: 'Bas-Rhin' },
					{ value: '61', text: 'Haut-Rhin' },
					{ value: '62', text: 'Vosges' },
					{ value: '63', text: 'Hauts-de-France' },
					{ value: '64', text: 'Aisne' },
					{ value: '65', text: 'Nord' },
					{ value: '66', text: 'Oise' },
					{ value: '67', text: 'Pas-de-Calais' },
					{ value: '68', text: 'Somme' },
					{ value: '69', text: 'Île-de-France' },
					{ value: '70', text: 'Paris' },
					{ value: '71', text: 'Seine-et-Marne' },
					{ value: '72', text: 'Yvelines' },
					{ value: '73', text: 'Essonne' },
					{ value: '74', text: 'Hauts-de-Seine' },
					{ value: '75', text: 'Seine-Saint-Denis' },
					{ value: '76', text: 'Val-de-Marne' },
					{ value: '77', text: 'Val-d\'Oise' },
					{ value: '78', text: 'Normandie' },
					{ value: '79', text: 'Calvados' },
					{ value: '80', text: 'Eure' },
					{ value: '81', text: 'Manche' },
					{ value: '82', text: 'Orne' },
					{ value: '83', text: 'Seine-Maritime' },
					{ value: '84', text: 'Nouvelle-Aquitaine' },
					{ value: '85', text: 'Charente' },
					{ value: '86', text: 'Charente-Maritime' },
					{ value: '87', text: 'Corrèze' },
					{ value: '88', text: 'Creuse' },
					{ value: '89', text: 'Dordogne' },
					{ value: '90', text: 'Gironde' },
					{ value: '91', text: 'Landes' },
					{ value: '92', text: 'Lot-et-Garonne' },
					{ value: '93', text: 'Pyrénées-Atlantiques' },
					{ value: '94', text: 'Deux-Sèvres' },
					{ value: '95', text: 'Vienne' },
					{ value: '96', text: 'Haute-Vienne' }
				],
				'us.en': [
					{ value: '', text: '-- Please select a region --' },
					{ value: '97', text: 'Alabama' },
					{ value: '98', text: 'Alaska' },
					{ value: '99', text: 'Arizona' },
					{ value: '100', text: 'Arkansas' },
					{ value: '101', text: 'California' },
					{ value: '102', text: 'Colorado' },
					{ value: '103', text: 'Connecticut' },
					{ value: '104', text: 'Delaware' },
					{ value: '105', text: 'Florida' },
					{ value: '106', text: 'Georgia' },
					{ value: '107', text: 'Hawaii' },
					{ value: '108', text: 'Idaho' },
					{ value: '109', text: 'Illinois' },
					{ value: '110', text: 'Indiana' },
					{ value: '111', text: 'Iowa' },
					{ value: '112', text: 'Kansas' },
					{ value: '113', text: 'Kentucky' },
					{ value: '114', text: 'Louisiana' },
					{ value: '115', text: 'Maine' },
					{ value: '116', text: 'Maryland' },
					{ value: '117', text: 'Massachusetts' },
					{ value: '118', text: 'Michigan' },
					{ value: '119', text: 'Minnesota' },
					{ value: '120', text: 'Mississippi' },
					{ value: '121', text: 'Missouri' },
					{ value: '122', text: 'Montana' },
					{ value: '123', text: 'Nebraska' },
					{ value: '124', text: 'Nevada' },
					{ value: '125', text: 'New Hampshire' },
					{ value: '126', text: 'New Jersey' },
					{ value: '127', text: 'New Mexico' },
					{ value: '128', text: 'New York' },
					{ value: '129', text: 'North Carolina' },
					{ value: '130', text: 'North Dakota' },
					{ value: '131', text: 'Ohio' },
					{ value: '132', text: 'Oklahoma' },
					{ value: '133', text: 'Oregon' },
					{ value: '134', text: 'Pennsylvania' },
					{ value: '135', text: 'Rhode Island' },
					{ value: '136', text: 'South Carolina' },
					{ value: '137', text: 'South Dakota' },
					{ value: '138', text: 'Tennessee' },
					{ value: '139', text: 'Texas' },
					{ value: '140', text: 'Utah' },
					{ value: '141', text: 'Vermont' },
					{ value: '142', text: 'Virginia' },
					{ value: '143', text: 'Washington' },
					{ value: '144', text: 'West Virginia' },
					{ value: '145', text: 'Wisconsin' },
					{ value: '146', text: 'Wyoming' }
				]
			}
		%}

		{{
			address.formular(
				'Address with street full', 
				'_address1', 
				submittedData,
				'streetName',
				true,
				true,
				countries,
				regions
			) 
		}}

		<script>
			if( window.EnderecoIntegrator ){
				window.EnderecoIntegrator.countryMapping = {
					'de.de': 'DE',
					'fr.fr': 'FR',
					'us.en': 'US'
				};
				window.EnderecoIntegrator.countryReverseMapping = {
					'DE': 'de.de',
					'FR': 'fr.fr',
					'US': 'us.en'
				};
				window.EnderecoIntegrator.subdivisionMapping = {
					'de.de': {
						1: 'DE-BW',
						2: 'DE-BY',
						3: 'DE-BE',
						4: 'DE-BB',
						5: 'DE-HB',
						6: 'DE-HH',
						7: 'DE-HE',
						8: 'DE-MV',
						9: 'DE-NI',
						10: 'DE-NW',
						11: 'DE-RP',
						12: 'DE-SL',
						13: 'DE-SN',
						14: 'DE-ST',
						15: 'DE-SH',
						16: 'DE-TH'
					},
					'fr.fr': {
						17: 'FR-ARA',
						18: 'FR-01',
						19: 'FR-03',
						20: 'FR-07',
						21: 'FR-15',
						22: 'FR-26',
						23: 'FR-38',
						24: 'FR-42',
						25: 'FR-43',
						26: 'FR-63',
						27: 'FR-69',
						28: 'FR-73',
						29: 'FR-74',
						30: 'FR-69M',
						31: 'FR-BFC',
						32: 'FR-21',
						33: 'FR-25',
						34: 'FR-39',
						35: 'FR-58',
						36: 'FR-70',
						37: 'FR-71',
						38: 'FR-89',
						39: 'FR-90',
						40: 'FR-BRE',
						41: 'FR-22',
						42: 'FR-29',
						43: 'FR-35',
						44: 'FR-56',
						45: 'FR-CVL',
						46: 'FR-18',
						47: 'FR-28',
						48: 'FR-36',
						49: 'FR-37',
						50: 'FR-41',
						51: 'FR-45',
						52: 'FR-GES',
						53: 'FR-08',
						54: 'FR-10',
						55: 'FR-51',
						56: 'FR-52',
						57: 'FR-54',
						58: 'FR-55',
						59: 'FR-57',
						60: 'FR-67',
						61: 'FR-68',
						62: 'FR-88',
						63: 'FR-HDF',
						64: 'FR-02',
						65: 'FR-59',
						66: 'FR-60',
						67: 'FR-62',
						68: 'FR-80',
						69: 'FR-IDF',
						70: 'FR-75C',
						71: 'FR-77',
						72: 'FR-78',
						73: 'FR-91',
						74: 'FR-92',
						75: 'FR-93',
						76: 'FR-94',
						77: 'FR-95',
						78: 'FR-NOR',
						79: 'FR-14',
						80: 'FR-27',
						81: 'FR-50',
						82: 'FR-61',
						83: 'FR-76',
						84: 'FR-NAQ',
						85: 'FR-16',
						86: 'FR-17',
						87: 'FR-19',
						88: 'FR-23',
						89: 'FR-24',
						90: 'FR-33',
						91: 'FR-40',
						92: 'FR-47',
						93: 'FR-64',
						94: 'FR-79',
						95: 'FR-86',
						96: 'FR-87'
					},
					'us.en': {
						97: 'US-AL',
						98: 'US-AK',
						99: 'US-AZ',
						100: 'US-AR',
						101: 'US-CA',
						102: 'US-CO',
						103: 'US-CT',
						104: 'US-DE',
						105: 'US-FL',
						106: 'US-GA',
						107: 'US-HI',
						108: 'US-ID',
						109: 'US-IL',
						110: 'US-IN',
						111: 'US-IA',
						112: 'US-KS',
						113: 'US-KY',
						114: 'US-LA',
						115: 'US-ME',
						116: 'US-MD',
						117: 'US-MA',
						118: 'US-MI',
						119: 'US-MN',
						120: 'US-MS',
						121: 'US-MO',
						122: 'US-MT',
						123: 'US-NE',
						124: 'US-NV',
						125: 'US-NH',
						126: 'US-NJ',
						127: 'US-NM',
						128: 'US-NY',
						129: 'US-NC',
						130: 'US-ND',
						131: 'US-OH',
						132: 'US-OK',
						133: 'US-OR',
						134: 'US-PA',
						135: 'US-RI',
						136: 'US-SC',
						137: 'US-SD',
						138: 'US-TN',
						139: 'US-TX',
						140: 'US-UT',
						141: 'US-VT',
						142: 'US-VA',
						143: 'US-WA',
						144: 'US-WV',
						145: 'US-WI',
						146: 'US-WY'
					}
				};
				window.EnderecoIntegrator.subdivisionMappingReverse = {
					'DE': {
						'DE-BW': 1,
						'DE-BY': 2,
						'DE-BE': 3,
						'DE-BB': 4,
						'DE-HB': 5,
						'DE-HH': 6,
						'DE-HE': 7,
						'DE-MV': 8,
						'DE-NI': 9,
						'DE-NW': 10,
						'DE-RP': 11,
						'DE-SL': 12,
						'DE-SN': 13,
						'DE-ST': 14,
						'DE-SH': 15,
						'DE-TH': 16
					},
					'FR': {
						'FR-ARA': 17,
						'FR-01': 18,
						'FR-03': 19,
						'FR-07': 20,
						'FR-15': 21,
						'FR-26': 22,
						'FR-38': 23,
						'FR-42': 24,
						'FR-43': 25,
						'FR-63': 26,
						'FR-69': 27,
						'FR-73': 28,
						'FR-74': 29,
						'FR-69M': 30,
						'FR-BFC': 31,
						'FR-21': 32,
						'FR-25': 33,
						'FR-39': 34,
						'FR-58': 35,
						'FR-70': 36,
						'FR-71': 37,
						'FR-89': 38,
						'FR-90': 39,
						'FR-BRE': 40,
						'FR-22': 41,
						'FR-29': 42,
						'FR-35': 43,
						'FR-56': 44,
						'FR-CVL': 45,
						'FR-18': 46,
						'FR-28': 47,
						'FR-36': 48,
						'FR-37': 49,
						'FR-41': 50,
						'FR-45': 51,
						'FR-GES': 52,
						'FR-08': 53,
						'FR-10': 54,
						'FR-51': 55,
						'FR-52': 56,
						'FR-54': 57,
						'FR-55': 58,
						'FR-57': 59,
						'FR-67': 60,
						'FR-68': 61,
						'FR-88': 62,
						'FR-HDF': 63,
						'FR-02': 64,
						'FR-59': 65,
						'FR-60': 66,
						'FR-62': 67,
						'FR-80': 68,
						'FR-IDF': 69,
						'FR-75C': 70,
						'FR-77': 71,
						'FR-78': 72,
						'FR-91': 73,
						'FR-92': 74,
						'FR-93': 75,
						'FR-94': 76,
						'FR-95': 77,
						'FR-NOR': 78,
						'FR-14': 79,
						'FR-27': 80,
						'FR-50': 81,
						'FR-61': 82,
						'FR-76': 83,
						'FR-NAQ': 84,
						'FR-16': 85,
						'FR-17': 86,
						'FR-19': 87,
						'FR-23': 88,
						'FR-24': 89,
						'FR-33': 90,
						'FR-40': 91,
						'FR-47': 92,
						'FR-64': 93,
						'FR-79': 94,
						'FR-86': 95,
						'FR-87': 96
					},
					'US': {
						'US-AL': 97,
						'US-AK': 98,
						'US-AZ': 99,
						'US-AR': 100,
						'US-CA': 101,
						'US-CO': 102,
						'US-CT': 103,
						'US-DE': 104,
						'US-FL': 105,
						'US-GA': 106,
						'US-HI': 107,
						'US-ID': 108,
						'US-IL': 109,
						'US-IN': 110,
						'US-IA': 111,
						'US-KS': 112,
						'US-KY': 113,
						'US-LA': 114,
						'US-ME': 115,
						'US-MD': 116,
						'US-MA': 117,
						'US-MI': 118,
						'US-MN': 119,
						'US-MS': 120,
						'US-MO': 121,
						'US-MT': 122,
						'US-NE': 123,
						'US-NV': 124,
						'US-NH': 125,
						'US-NJ': 126,
						'US-NM': 127,
						'US-NY': 128,
						'US-NC': 129,
						'US-ND': 130,
						'US-OH': 131,
						'US-OK': 132,
						'US-OR': 133,
						'US-PA': 134,
						'US-RI': 135,
						'US-SC': 136,
						'US-SD': 137,
						'US-TN': 138,
						'US-TX': 139,
						'US-UT': 140,
						'US-VT': 141,
						'US-VA': 142,
						'US-WA': 143,
						'US-WV': 144,
						'US-WI': 145,
						'US-WY': 146
					}
				};
			}

			enderecoInitAMS({
				countryCode: '#countryCodeMirror_address1',
				subdivisionCode: '#subdivisionCodeMirror_address1',
				postalCode: '#postalCode_address1',
				locality: '#locality_address1',
				streetFull: '#streetFull_address1',
				streetName: '#street_address1',
				buildingNumber: '#buildingNumber_address1',
				additionalInfo: '#additionalInfo_address1',
				addressStatus: '[name="status_address1"]',
				addressTimestamp: '[name="timestamp_address1"]',
				addressPredictions: '[name="predictions_address1"]',
			}, {
				name: 'address_with_streetfull',
				addressType: 'general_address'
			});
		</script>

		{% include "components/simpleSubmitButton.njk" %}
	</form>

{% endblock %}
