{% extends "layout.njk" %}
{% import "components/address.njk" as address %}
{% import "components/phoneNumber.njk" as phoneNumber %}
{% import "components/submitdump.njk" as submitdump %}


{% block content %}
<h1 class="text-2xl font-bold text-gray-900 mb-4">Default</h1>
<p class="text-gray-700 mb-6">
  In this demostration we provide init adress check for a formular that has an existing container
  for the session data. Another form has no container and its expected, the upon initialization the
  FormMamanger will render some fields to store session.
</p>

<div class="flex flex-col md:flex-row md:space-x-4">
  <div class="w-full md:w-1/2 p-4 mb-4 md:mb-0 text-sm">
    <form method="POST" action="">
      <input type="hidden" name="form_name" value="first_form">

      {{
				address.defaultForm(
					'Address with street full', 
					'_address1', 
					submittedData,
					countriesData,
          subdivisionsData
				) 
			}}

      <input type="hidden" name="endereco_data_marker" value="" data-endereco-service="ams"
        data-has-object="no" data-name="firstAddress" data-type="general_address" data-format=""
        data-country-code-selector="#countryCode_address1"
        data-subdivision-code-selector="#subdivisionCode_address1"
        data-postal-code-selector="#postalCode_address1" data-locality-selector="#locality_address1"
        data-street-full-selector="#streetFull_address1"
        data-street-name-selector="#street_address1"
        data-building-number-selector="#buildingNumber_address1"
        data-additional-info-selector="#additionalInfo_address1"
        {% include "components/simpleSubmitButton.njk" %} </form>
  </div>
  <div class="w-full md:w-1/2 p-4">
    {{
			submitdump.table(
				submittedData
			) 
		}}
  </div>
</div>
{% endblock %}