<!-- js-sdk/demo/views/components/address.njk -->
{% import 'components/formfields.njk' as formfields %}

{% macro mirrored(
  name,
  submittedData=null
  ) 
%}

<div class="bg-gray-200 rounded-lg p-6 my-4 text-xs">
  <input type="hidden" name="{{name}}_status" value="{{ submittedData[name+'_status'] }}">
  <input type="hidden" name="{{name}}_predictions"
    value="{{ submittedData[name+'_predictions'] }}">
  <input type="hidden" name="{{name}}_hash" value="{{ submittedData[name+'_hash'] }}">

  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full px-3">
      {{ formfields.readOnlyTextField(name+'_status_mirror', 'Status Codes', submittedData[name+'_status']) }}
    </div>
    <div class="w-full px-3">
      {{ formfields.readOnlyPreformattedField(name+'_predictions_mirror','Predictions JSON', submittedData[name+'_predictions']) }}
    </div>
    <div class="w-full px-3">
      {{ formfields.readOnlyInputField(name+'_hash_mirror','Data Hash', submittedData[name+'_hash']) }}
    </div>
  </div>

  <script>
    (function() {
      setInterval(() => {
        const statusField = document.querySelector(
          "[name='{{name}}_status']")
        const predictionsField = document.querySelector(
          "[name='{{name}}_predictions']")
        const hashField = document.querySelector("[name='{{name}}_hash']")

        const statusFieldMirror = document.querySelector(
          "[name='{{name}}_status_mirror']")
        const predictionsFieldMirror = document.querySelector(
          "[name='{{name}}_predictions_mirror']")
        const hashFieldMirror = document.querySelector(
          "[name='{{name}}_hash_mirror']")

        if (statusField && statusFieldMirror) {
          statusFieldMirror.value = statusField.value
        }

        if (predictionsField && predictionsFieldMirror) {
          predictionsFieldMirror.innerHTML = JSON.stringify(JSON.parse(predictionsField.value), null, 2)
        }

        if (hashField && hashFieldMirror) {
          hashFieldMirror.value = hashField.value
        }
      }, 10)
    })()
  </script>
</div>

{% endmacro %}