<ul class="list-none p-4">
  <li class="mb-2">
    <a href="/" class="{% if currentPage == '/' %}font-bold text-red-500{% endif %}">Index</a>
  </li>
  <li class="mb-2 text-gray-500 italic">Use cases:</li>
  <li class="mb-2">
    <a href="/use-cases/default" class="{% if currentPage == '/use-cases/default' %}font-bold text-red-500{% endif %}">Default</a>
  </li>
  <li class="mb-2">
    <a href="/use-cases/mappingCountryCode" class="{% if currentPage == '/use-cases/mappingCountryCode' %}font-bold text-red-500{% endif %}">Mapping Country Code</a>
  </li>
</ul>
