<div class="endereco-addressline">
  <span class="endereco-modal-field endereco-modal-field--postalCode">{{{ postalCodeDiff }}}</span>
  <span class="endereco-modal-field endereco-modal-field--locality">{{{ localityDiff }}}</span>
</div>