<div class="endereco-addressline"> 
  {{#streetFull}}
    <span class="endereco-modal-field endereco-modal-field--streetFull">{{{ streetFullDiff }}}</span>
    <span class="endereco-modal-field endereco-modal-field--missing-building-number-placeholder">&nbsp;</span>
  {{/streetFull}}
  {{^streetFull}}
    <span class="endereco-modal-field endereco-modal-field--streetName">
      {{{ streetNameDiff }}}
    </span>
    <span class="endereco-modal-field endereco-modal-field--buildingNumber">
      {{{ buildingNumberDiff }}}
    </span>
    <span class="endereco-modal-field endereco-modal-field--missing-building-number-placeholder">&nbsp;</span>
  {{/streetFull}}
</div>