.endereco-button {
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	background-color: #009EC0;
	padding: 5px 15px;
	font-size: 16px;
	box-shadow: 1px 1px 2px #444;
	cursor: pointer;
	transition: background-color 300ms ease-in-out;

	&:hover {
		background-color: darken(#009EC0, 10%);
		transition: background-color 300ms ease-in-out;
	}
}
