.endereco-s {
	&--customer_verified,
	&--salutation_correct,
	&--first_name_correct,
	&--last_name_correct,
	&--title_correct,
	&--email_correct,
	&--address_correct,
	&--postal_code_correct,
	&--locality_correct,
	&--street_name_correct,
	&--street_full_correct,
	&--building_number_correct,
	&--additional_info_correct,
	&--country_code_correct,
	&--subdivision_code_correct,
	&--phone_correct,
	&--correct {
		input,
    select,
    .form-control,
    .btn,
    &,
    &.radio-inline {
      border-color: rgb(76, 175, 80);
      background-color: #f8fcf8;
    }
	}


	&--salutation_needs_correction,
	&--first_name_needs_correction,
	&--last_name_needs_correction,
	&--title_needs_correction,
	&--email_not_correct,
	&--address_needs_correction,
	&--address_multiple_variants,
	&--address_not_found,
	&--postal_code_needs_correction,
	&--locality_needs_correction,
	&--street_name_needs_correction,
	&--street_full_needs_correction,
	&--building_number_needs_correction,
	&--additional_info_needs_correction,
	&--country_code_needs_correction,
	&--subdivision_code_needs_correction,
	&--phone_invalid,
	&--phone_needs_correction,
	&--phone_wrong_type,
	&--incorrect {
		input,
    select,
    .form-control,
    .btn,
    &,
    &.radio-inline {
      border-color: rgb(240, 173, 78);
      background-color: #fefbf8;
    }
    
    &.radio-inline {
      border-bottom: 2px dotted rgb(240, 173, 78);
    }
	}
}

.endereco-status {
	&__building_number_is_missing,
	&__building_number_not_found {
		.endereco-modal-field--missing-building-number-placeholder {
			display: inline-block;
		}
	}

	&__country_code_needs_correction {
		.endereco-modal-field--countryCode,
		.endereco-modal-field--countryName {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__postal_code_needs_correction {
		.endereco-modal-field--postalCode {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__locality_needs_correction {
		.endereco-modal-field--locality {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__street_full_needs_correction {
		.endereco-modal-field--streetFull,
		.endereco-modal-field--streetName,
		.endereco-modal-field--buildingNumber {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__street_name_needs_correction {
		.endereco-modal-field--streetFull,
		.endereco-modal-field--streetName {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__additional_info_needs_correction {
		.endereco-modal-field--additionalInfo {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}

	&__building_number_needs_correction {
		.endereco-modal-field--buildingNumber {
			display: inline-block;
			background-color: rgba(255, 0, 0, 0.125);
			border-bottom: 1px solid red;
			padding: 0 3px;
			min-width: 20px;
			min-height: 1em;
		}
	}
}