.endereco-s {
	&--customer_verified,
	&--salutation_correct,
	&--first_name_correct,
	&--last_name_correct,
	&--title_correct,
	&--email_correct,
	&--address_correct,
	&--postal_code_correct,
	&--locality_correct,
	&--street_name_correct,
	&--street_full_correct,
	&--building_number_correct,
	&--additional_info_correct,
	&--country_code_correct,
	&--subdivision_code_correct,
	&--phone_correct {
		input,
		select,
		.form-control,
		.btn {
			border-color: rgb(76, 175, 80);
			background-color: #f8fcf8;
		}
	}


	&--salutation_needs_correction,
	&--first_name_needs_correction,
	&--last_name_needs_correction,
	&--title_needs_correction,
	&--email_not_correct,
	&--address_needs_correction,
	&--address_multiple_variants,
	&--address_not_found,
	&--postal_code_needs_correction,
	&--locality_needs_correction,
	&--street_name_needs_correction,
	&--street_full_needs_correction,
	&--building_number_needs_correction,
	&--additional_info_needs_correction,
	&--country_code_needs_correction,
	&--subdivision_code_needs_correction,
	&--phone_invalid,
	&--phone_needs_correction,
	&--phone_wrong_type {
		input,
		select,
		.form-control,
		.btn {
			border-color: rgb(240, 173, 78);
			background-color: #fefbf8;
		}

		&.radio-inline  {
			border-bottom: 2px dotted rgb(240, 173, 78);
		}
	}
}
