<div endereco-popup class="endereco-popup-container endereco-popup-container--direction-{{direction}}">
	<div class="endereco-modal" role="dialog" aria-modal="true" tabindex="-1" aria-labelledby="endereco-modal-title" aria-describedby="endereco-modal-desc">
		<div class="endereco-modal__header">
			<p id="endereco-modal-title" class="endereco-modal__header-main">{{{title}}}</p>
			<p id="endereco-modal-desc" class="endereco-modal__header-sub">{{{EnderecoAddressObject.config.texts.notFoundSubline}}}</p>

			{{#showClose}}<span class="endereco-modal__close" endereco-modal-close tabindex="0" aria-label="Schließen"></span>{{/showClose}}
		</div>
		<div class="endereco-modal__body">
			<div class="endereco-modal__divider">
				<span class="endereco-modal__divider-innertext">{{{EnderecoAddressObject.config.texts.yourInput}}} <small><a href="javascript:void(0)" endereco-edit-address tabindex="0">{{{EnderecoAddressObject.config.texts.editYourInput}}}</a></small></span>
			</div>
			<div class="endereco-modal__address-container">
				{{{ mainAddress }}}
			</div>
			<div class="endereco-modal__warning">
				{{{EnderecoAddressObject.config.texts.warningText}}}
			</div>
			{{#showConfirCheckbox}}
			<div class="endereco-modal__address-confirmation">
				<label>
					<input type="checkbox" value="1" endereco-confirm-address-checkbox tabindex="0"> {{{EnderecoAddressObject.config.texts.confirmMyAddressCheckbox}}}
				</label>
			</div>
			{{/showConfirCheckbox}}
		</div>
		<div class="endereco-modal__footer">
			{{{buttonSecondary}}}
			{{{button}}}
		</div>
	</div>
</div>
