<div endereco-popup class="endereco-popup-container endereco-popup-container--direction-{{direction}}">
	<div class="endereco-modal">
		<div class="endereco-modal__header">
			<p class="endereco-modal__header-main">{{{title}}}</p>
			<p class="endereco-modal__header-sub">{{{EnderecoAddressObject.config.texts.popUpSubline}}}</p>

			<span class="endereco-modal__close" endereco-modal-close></span>
		</div>
		<div class="endereco-modal__body">
			<div class="endereco-modal__divider">
				<span class="endereco-modal__divider-innertext">{{{EnderecoAddressObject.config.texts.yourInput}}} <small><a href="javascript:void(0)" endereco-edit-address>{{{EnderecoAddressObject.config.texts.editYourInput}}}</a></small></span>
			</div>
			<ul class="endereco-address-predictions endereco-address-predictions--original">
				<li class="endereco-address-predictions__item">
					<input class="endereco-address-predictions__radio" type="radio" name="endereco-address-predictions" value="-1" id="endereco-address-predictions__item_original">
					<label class="endereco-address-predictions__label" for="endereco-address-predictions__item_original">{{{ mainAddress }}}</label>
				</li>
			</ul>
			<div class="endereco-modal__divider">
				<span class="endereco-modal__divider-innertext">{{{EnderecoAddressObject.config.texts.ourSuggestions}}}</span>
			</div>
			<ul class="endereco-address-predictions endereco-address-predictions--suggestions">
				{{#predictions}}
					<li class="endereco-address-predictions__item">
						<input class="endereco-address-predictions__radio" type="radio" name="endereco-address-predictions" value="{{ index }}" id="endereco-address-predictions__item_{{ index }}">
						<label class="endereco-address-predictions__label" for="endereco-address-predictions__item_{{ index }}">{{{ addressDiff }}}</label>
					</li>
				{{loopUp}}
				{{/predictions}}
			</ul>
		</div>
		<div class="endereco-modal__footer">
			{{{button}}}
		</div>
	</div>
</div>
